<div class="containerPage">
  <nav class="sidebar">
    <a class="sidebar-title" href="" [translate]="'PROJECT_NAME'"></a>
    <div class="languageSwitch">
      <button class="languageSwitch-title" (click)="switchDropdown()">
        {{ "CURRENT_LANGUAGE" | translate }}
        <div *ngIf="dropdownIsVisible; else isVisible">
          <i class="bi bi-caret-up-fill"></i>
        </div>
        <ng-template #isVisible>
          <i class="bi bi-caret-down-fill"></i>
        </ng-template>
      </button>
      <div
        class="languageSwitch-dropdown"
        [ngStyle]="{
          display: dropdownIsVisible ? 'block' : 'none'
        }"
      >
        <div *ngFor="let language of languageList">
          <a class="languageSwitch-item" (click)="changeLang(language.code)">
            <img
              class="languageSwitch-item-icon"
              [src]="
                'https://abs.twimg.com/emoji/v2/svg/' + language.icon + '.svg'
              "
            />
            <p
              [translate]="
                'SWITCH_LANGUAGES_BUTTON.' + language.name + '_LABEL'
              "
            ></p>
          </a>
        </div>
      </div>
    </div>
    <div class="sidebar-itens">
      <p>{{ "SIDEBAR.PAGES" | translate }}</p>
      <a
        [routerLink]="['']"
        [ngClass]="{ 'sidebar-item-current': currentRoute == '/' }"
        class="sidebar-item"
        >{{ "ROUTES.HOME" | translate }}</a
      >
      <a
        [routerLink]="['/students']"
        [ngClass]="{ 'sidebar-item-current': currentRoute == '/students' }"
        class="sidebar-item"
        >{{ "ROUTES.STUDENTS" | translate }}</a
      >
      <a
        [routerLink]="['/students/enrollments']"
        [ngClass]="{
          'sidebar-item-current': currentRoute == '/students/enrollments'
        }"
        class="sidebar-subitem"
        >{{ "ROUTES.ENROLLMENTS" | translate }}</a
      >
      <a
        [routerLink]="['/teachers']"
        [ngClass]="{ 'sidebar-item-current': currentRoute == '/teachers' }"
        class="sidebar-item"
        >{{ "ROUTES.TEACHERS" | translate }}</a
      >
      <a
        [routerLink]="['/courses']"
        [ngClass]="{ 'sidebar-item-current': currentRoute == '/courses' }"
        class="sidebar-item"
        >{{ "ROUTES.COURSES" | translate }}</a
      >
      <a
        [routerLink]="['/subjects']"
        [ngClass]="{ 'sidebar-item-current': currentRoute == '/subjects' }"
        class="sidebar-item"
        >{{ "ROUTES.SUBJECTS" | translate }}</a
      >
      <a
        [routerLink]="['/grades']"
        [ngClass]="{ 'sidebar-item-current': currentRoute == '/grades' }"
        class="sidebar-item"
        >{{ "ROUTES.GRADES" | translate }}</a
      >
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
