@import url("../../../app.component.scss");

.content {
  /*size - position*/
  width: 100%;

  /*style*/

  /*grid*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
