<div class="loadingPage" *ngIf="!grade">
  <div class="loadingPage-loader"></div>
</div>

<div class="page" *ngIf="grade">
  <h1 class="page-title">{{ "ROUTES.GRADES" | translate }}</h1>

  <button
    (click)="returnEnrollment()"
    class="tableContainer-table-returnButton"
  >
    <i
      class="bi bi-arrow-return-left tableContainer-table-returnButton-icon"
    ></i>
    {{ "ROUTES.BUTTONS.RETURN" | translate }}
  </button>

  <div class="content">
    <div class="tableContainer">
      <h2 class="tableContainer-title">
        {{ "TABLES.TITLES.LIST_OF_GRADES" | translate }}
      </h2>

      <form [formGroup]="formGroup">
        <table class="tableContainer-table" *ngIf="grade != null">
          <tr>
            <th class="tableContainer-table-th">Id</th>
            <th class="tableContainer-table-th">
              1º {{ "TABLES.COLUMN_NAMES.GRADE" | translate }}
            </th>
            <th class="tableContainer-table-th">
              2º {{ "TABLES.COLUMN_NAMES.GRADE" | translate }}
            </th>
            <th class="tableContainer-table-th">
              3º {{ "TABLES.COLUMN_NAMES.GRADE" | translate }}
            </th>
            <th class="tableContainer-table-th">
              4º {{ "TABLES.COLUMN_NAMES.GRADE" | translate }}
            </th>
            <th class="tableContainer-table-th tableContainer-table-td-actions">
              {{ "TABLES.COLUMN_NAMES.ACTIONS" | translate }}
            </th>
          </tr>

          <tr>
            <ng-container
              *ngIf="copyEdit == null || grade.id != copyEdit.id || !inEdit"
            >
              <td class="tableContainer-table-td">
                {{ grade.id }}
              </td>
              <td class="tableContainer-table-td">{{ grade.gradeOne }}</td>
              <td class="tableContainer-table-td">{{ grade.gradeTwo }}</td>
              <td class="tableContainer-table-td">{{ grade.gradeThree }}</td>
              <td class="tableContainer-table-td">{{ grade.gradeFour }}</td>
              <td class="tableContainer-table-td">
                <button
                  (click)="switchEdit(grade)"
                  class="tableContainer-table-editButtonSingle"
                >
                  {{ "TABLES.BUTTONS.EDIT" | translate }}
                </button>
              </td>
            </ng-container>

            <ng-container
              *ngIf="copyEdit != null && grade.id == copyEdit.id && inEdit"
            >
              <td class="tableContainer-table-td">{{ grade.id }}</td>
              <td class="tableContainer-table-td">
                <input
                  id="gradeOne"
                  type="number"
                  formControlName="gradeOne"
                  [ngStyle]="{
                    borderBottom:
                      formGroup.get('gradeOne')?.touched ||
                      formGroup.get('gradeOne')?.errors
                        ? '0.15rem red solid'
                        : 'none'
                  }"
                />
              </td>
              <td class="tableContainer-table-td">
                <input
                  id="gradeTwo"
                  type="number"
                  formControlName="gradeTwo"
                  [ngStyle]="{
                    borderBottom:
                      formGroup.get('gradeTwo')?.touched ||
                      formGroup.get('gradeTwo')?.errors
                        ? '0.15rem red solid'
                        : 'none'
                  }"
                />
              </td>
              <td class="tableContainer-table-td">
                <input
                  id="gradeThree"
                  type="number"
                  formControlName="gradeThree"
                  [ngStyle]="{
                    borderBottom:
                      formGroup.get('gradeThree')?.touched ||
                      formGroup.get('gradeThree')?.errors
                        ? '0.15rem red solid'
                        : 'none'
                  }"
                />
              </td>
              <td class="tableContainer-table-td">
                <input
                  id="gradeFour"
                  type="number"
                  formControlName="gradeFour"
                  [ngStyle]="{
                    borderBottom:
                      formGroup.get('gradeFour')?.touched ||
                      formGroup.get('gradeFour')?.errors
                        ? '0.15rem red solid'
                        : 'none'
                  }"
                />
              </td>
              <td class="tableContainer-table-td">
                <button
                  (click)="edit()"
                  class="tableContainer-table-editButton"
                >
                  {{ "TABLES.BUTTONS.EDIT" | translate }}</button
                ><button
                  (click)="switchEdit(grade.id)"
                  class="tableContainer-table-deleteButton"
                >
                  {{ "TABLES.BUTTONS.CANCEL" | translate }}
                </button>
              </td>
            </ng-container>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
