<div class="loadingPage" *ngIf="!allSubjects">
  <div class="loadingPage-loader"></div>
</div>

<div class="page" *ngIf="allSubjects">
  <h1 class="page-title">{{ "ROUTES.SUBJECTS" | translate }}</h1>

  <div class="content">
    <div class="tableContainer">
      <h2 class="tableContainer-title">
        {{ "TABLES.TITLES.LIST_OF_SUBJECTS" | translate }}
        <button
          (click)="switchCreation()"
          class="tableContainer-table-addButton"
          *ngIf="allSubjects.length != 0"
        >
          <div
            class="tableContainer-table-addButton-text"
            *ngIf="!inCreation; else elseBlock"
          >
            {{ "TABLES.BUTTONS.ADD" | translate }}
          </div>
          <ng-template #elseBlock>{{
            "TABLES.BUTTONS.CANCEL" | translate
          }}</ng-template>
        </button>
      </h2>

      <button
        (click)="switchCreation()"
        class="tableContainer-addButton"
        *ngIf="allSubjects.length == 0"
      >
        {{ "TABLES.BUTTONS.ALERT_ADD" | translate }}
      </button>
      <form [formGroup]="formGroup">
        <table
          class="tableContainer-table"
          *ngIf="allSubjects.length != 0 || inCreation"
        >
          <tr>
            <th class="tableContainer-table-th">Id</th>
            <th class="tableContainer-table-th">
              {{ "TABLES.COLUMN_NAMES.NAME" | translate }}
            </th>
            <th class="tableContainer-table-th">
              {{ "TABLES.COLUMN_NAMES.COURSE" | translate }}: Id -
              {{ "TABLES.COLUMN_NAMES.NAME" | translate }}
            </th>
            <th class="tableContainer-table-th">
              {{ "TABLES.COLUMN_NAMES.TEACHER" | translate }}: Id -
              {{ "TABLES.COLUMN_NAMES.NAME" | translate }}
            </th>
            <th class="tableContainer-table-th tableContainer-table-td-actions">
              {{ "TABLES.COLUMN_NAMES.ACTIONS" | translate }}
            </th>
          </tr>

          <tr *ngIf="inCreation">
            <td class="tableContainer-table-td">+</td>
            <td class="tableContainer-table-td">
              <input
                id="name"
                type="text"
                formControlName="name"
                [ngStyle]="{
                  borderBottom:
                    formGroup.get('nome')?.touched ||
                    formGroup.get('name')?.errors
                      ? '0.15rem red solid'
                      : 'none'
                }"
              />
            </td>
            <td class="tableContainer-table-td">
              <select id="courseId" formControlName="courseId" form="formGroup">
                <option *ngFor="let course of allCourses" [value]="course.id">
                  {{ course.id }} - {{ course.name }}
                </option>
              </select>
            </td>
            <td class="tableContainer-table-td">
              <select
                id="teacherId"
                formControlName="teacherId"
                form="formGroup"
              >
                <option
                  *ngFor="let teacher of allTeachers"
                  [ngValue]="teacher.id"
                >
                  {{ teacher.id }} - {{ teacher.name }}
                </option>
              </select>
            </td>
            <td class="tableContainer-table-td">
              <button
                type="submit"
                (click)="add()"
                [disabled]="!formGroup.valid"
                class="tableContainer-table-confirmButton"
              >
                {{ "TABLES.BUTTONS.CONFIRM" | translate }}
              </button>
            </td>
          </tr>

          <tr *ngFor="let subject of allSubjects">
            <ng-container
              *ngIf="copyEdit == null || subject.id != copyEdit.id || !inEdit"
            >
              <td class="tableContainer-table-td">
                {{ subject.id }}
              </td>
              <td class="tableContainer-table-td">{{ subject.name }}</td>
              <td class="tableContainer-table-td">
                {{ subject.courseId }} - {{ subject.courseName }}
              </td>
              <td class="tableContainer-table-td">
                {{ subject.teacherId }} -
                {{ subject.teacherName }}
              </td>
              <td class="tableContainer-table-td">
                <button
                  (click)="switchEdit(subject)"
                  class="tableContainer-table-editButton"
                >
                  {{ "TABLES.BUTTONS.EDIT" | translate }}
                </button>
                <button
                  (click)="delete(subject.id)"
                  class="tableContainer-table-deleteButton"
                >
                  {{ "TABLES.BUTTONS.DELETE" | translate }}
                </button>
              </td>
            </ng-container>

            <ng-container
              *ngIf="copyEdit != null && subject.id == copyEdit.id && inEdit"
            >
              <td class="tableContainer-table-td">{{ subject.id }}</td>
              <td class="tableContainer-table-td">
                <input
                  id="name"
                  type="text"
                  formControlName="name"
                  [ngStyle]="{
                    borderBottom:
                      formGroup.get('nome')?.touched ||
                      formGroup.get('name')?.errors
                        ? '0.15rem red solid'
                        : 'none'
                  }"
                />
              </td>
              <td class="tableContainer-table-td">
                <select
                  id="courseId"
                  formControlName="courseId"
                  form="formGroup"
                >
                  <option *ngFor="let course of allCourses" [value]="course.id">
                    {{ course.id }} - {{ course.name }}
                  </option>
                </select>
              </td>
              <td class="tableContainer-table-td">
                <select
                  id="teacherId"
                  formControlName="teacherId"
                  form="formGroup"
                >
                  <option
                    *ngFor="let teacher of allTeachers"
                    [ngValue]="teacher.id"
                  >
                    {{ teacher.id }} - {{ teacher.name }}
                  </option>
                </select>
              </td>
              <td class="tableContainer-table-td">
                <button
                  (click)="edit()"
                  class="tableContainer-table-editButton"
                >
                  {{ "TABLES.BUTTONS.EDIT" | translate }}</button
                ><button
                  (click)="switchEdit(subject.id)"
                  class="tableContainer-table-deleteButton"
                >
                  {{ "TABLES.BUTTONS.CANCEL" | translate }}
                </button>
              </td>
            </ng-container>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
