<div class="page">
  <h1 class="page-title">home works!</h1>

  <div class="content">
    <div class="tableContainer">
      <table class="tableContainer-table">
        <tr>
          <th class="tableContainer-table-th">a</th>
          <th class="tableContainer-table-th">a</th>
          <th class="tableContainer-table-th">a</th>
          <th class="tableContainer-table-th">a</th>
        </tr>
        <tr>
          <td class="tableContainer-table-td">a</td>
          <td class="tableContainer-table-td">a</td>
          <td class="tableContainer-table-td">a</td>
          <td class="tableContainer-table-td">a</td>
        </tr>
      </table>
    </div>

    <div class="statisticsGroup">
      <div class="statisticsGroup-item">1</div>
      <div class="statisticsGroup-item">2</div>
      <div class="statisticsGroup-item">3</div>
    </div>
  </div>
</div>
