/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

* {
  /*size - position*/
  margin: 0;
  padding: 0;

  /*style*/
  color: var(--1-color);

  /*grid*/

  /*animation*/
  transition: 0.25s;

  /*var*/
  --1-color: #f2f2f2;
  --2-color: #6360bf;
  --3-color: #262840;
}

.containerPage {
  /*size - position*/
  width: 100vw;
  height: 100vh;

  /*style*/
  background-color: var(--1-color);

  /*grid*/
  display: flex;
}

.sidebar {
  /*size - position*/
  min-width: 15rem;
  height: 100vh;
  padding: 0.5rem;

  /*style*/
  background-color: var(--3-color);
  box-shadow: 0 0 0.5rem var(--3-color);

  /*grid*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;

  .sidebar-title {
    /*size - position*/

    /*style*/
    color: var(--2-color);
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    text-decoration: none;

    /*grid*/
  }

  .sidebar-title:hover {
    /*size - position*/

    /*style*/
    color: var(--1-color);

    /*grid*/
  }

  .languageSwitch {
    /*size - position*/

    /*style*/

    /*grid*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .languageSwitch-title {
      /*size - position*/
      width: 10rem;
      padding: 0.5rem;

      /*style*/
      border: none;
      background-color: var(--2-color);
      border-radius: 0.5rem;

      /*grid*/
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      i {
        /*size - position*/

        /*style*/
        color: var(--1-color);

        /*grid*/
      }
    }

    .languageSwitch-title:hover {
      /*size - position*/

      /*style*/
      color: var(--2-color);
      background-color: var(--1-color);

      /*grid*/

      i {
        /*size - position*/

        /*style*/
        color: var(--2-color);

        /*grid*/
      }
    }

    .languageSwitch-dropdown {
      /*size - position*/
      position: absolute;
      width: 10rem;
      margin-top: 12rem;

      /*style*/
      background-color: var(--2-color);
      border-radius: 0.5rem;

      /*grid*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .languageSwitch-item {
      /*size - position*/
      width: 100%;
      padding: 1rem;

      /*style*/
      color: var(--1-color);
      text-decoration: none;
      cursor: pointer;

      /*grid*/
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 1rem;

      .languageSwitch-item-icon {
        /*size - position*/
        width: 25%;

        /*style*/

        /*grid*/
      }
    }

    .languageSwitch-item:hover {
      /*size - position*/

      /*style*/
      background-color: var(--1-color);
      border-radius: 0.5rem;

      /*grid*/

      p {
        color: var(--2-color);
      }
    }
  }

  .sidebar-itens {
    /*size - position*/
    width: 10rem;

    /*style*/

    /*grid*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    p {
      /*size - position*/

      /*style*/
      color: var(--1-color);

      /*grid*/
    }

    .sidebar-item {
      /*size - position*/
      width: 100%;
      padding: 0.5rem;

      /*style*/
      border-left: 0.15rem var(--2-color) solid;
      color: #6360bf;
      text-align: center;
      font-weight: bold;
      text-decoration: none;

      /*grid*/
    }

    .sidebar-subitem {
      /*size - position*/
      width: 90%;
      padding: 0.5rem;
      align-self: flex-end;

      /*style*/
      border-left: 0.15rem var(--2-color) solid;
      color: #6360bf;
      text-align: center;
      font-weight: bold;
      text-decoration: none;

      /*grid*/
    }

    .sidebar-item:hover {
      /*size - position*/
      width: 100%;
      padding: 0.5rem;

      /*style*/
      border-left: 1.5rem var(--2-color) solid;
      color: var(--2-color);
      background-color: var(--1-color);
      text-align: center;
      font-weight: bold;
      text-decoration: none;

      /*grid*/
    }

    .sidebar-subitem:hover {
      /*size - position*/
      width: 90%;
      padding: 0.5rem;

      /*style*/
      border-left: 1.5rem var(--2-color) solid;
      color: var(--2-color);
      background-color: var(--1-color);
      text-align: center;
      font-weight: bold;
      text-decoration: none;

      /*grid*/
    }

    .sidebar-item-current {
      /*size - position*/

      /*style*/
      background-color: var(--1-color);

      /*grid*/
    }
  }
}

:host {
  /*size - position*/
  width: 100%;

  /*style*/
  background-color: #262840;

  /*grid*/
}

.loadingPage {
  /*size - position*/
  min-width: 100%;
  height: 100%;

  /*style*/

  /*grid*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loadingPage-loader {
  /*size - position*/
  width: 5rem;
  height: 5rem;

  /*style*/
  border: 16px solid var(--1-color);
  border-top: 16px solid var(--3-color);
  border-radius: 50%;

  /*grid*/

  /*animation*/
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page {
  /*size - position*/
  width: 100%;
  height: 100%;
  padding: 1rem;

  /*style*/
  overflow: scroll;

  /*grid*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.page-title {
  /*size - position*/
  margin-bottom: 1rem;

  /*style*/
  color: var(--2-color);

  /*grid*/
}

.tableContainer {
  /*size - position*/
  min-width: 100%;
  height: 100%;
  padding: 0.5rem;

  /*style*/
  background-color: var(--2-color);
  box-shadow: 0 0 0.25rem var(--2-color);
  border-radius: 0.5rem;

  /*grid*/
}

.tableContainer-title {
  /*size - position*/
  margin-bottom: 0.5rem;

  /*style*/

  /*grid*/
}

.tableContainer-addButton {
  /*size - position*/
  padding: 0.5rem;

  /*style*/
  border: 0.15rem var(--1-color) solid;
  background-color: transparent;
  border-radius: 0.5rem;

  /*grid*/
}

.tableContainer-addButton:hover {
  /*size - position*/

  /*style*/
  background-color: var(--1-color);
  color: var(--2-color);

  /*grid*/
}

.tableContainer-table {
  /*size - position*/
  width: 100%;

  /*style*/
  border-collapse: collapse;

  /*grid*/
}

.tableContainer-table-th {
  /*size - position*/
  padding: 0.5rem;

  /*style*/
  background-color: var(--1-color);
  color: var(--2-color);
  border: 0.15rem var(--3-color) solid;

  /*grid*/
}

.tableContainer-table-td {
  /*size - position*/
  padding: 0.5rem;

  /*style*/
  border: 0.15rem var(--3-color) solid;

  /*grid*/
}

.tableContainer-table-td-actions {
  /*size - position*/
  width: 15rem;

  /*style*/

  /*grid*/
}

.tableContainer-table-addButton,
.tableContainer-table-confirmButton {
  /*size - position*/
  padding: 0.5rem;

  /*style*/
  border: none;
  background-color: green;
  border-radius: 0.5rem;

  /*grid*/
}

.tableContainer-table-editButtonSingle {
  /*size - position*/
  width: 100%;
  padding: 0.5rem;

  /*style*/
  border: none;
  background-color: orange;
  border-radius: 0.5rem;

  /*grid*/
}

.tableContainer-table-returnButton {
  /*size - position*/
  padding: 0.5rem;

  /*style*/
  border: none;
  color: var(--2-color);
  /*grid*/
}

.tableContainer-table-returnButton-icon {
  /*size - position*/

  /*style*/
  color: var(--2-color);

  /*grid*/
}

.tableContainer-table-editButton,
.tableContainer-table-deleteButton {
  /*size - position*/
  width: 50%;
  padding: 0.5rem;

  /*style*/
  border: none;

  /*grid*/
}

.tableContainer-table-confirmButton {
  /*size - position*/
  width: 100%;

  /*style*/
  border: none;

  /*grid*/
}

.tableContainer-table-addButton:hover,
.tableContainer-table-editButton:hover,
.tableContainer-table-deleteButton:hover,
.tableContainer-table-confirmButton:hover {
  /*size - position*/

  /*style*/
  background-color: var(--1-color);
  color: var(--2-color);

  /*grid*/
}

.tableContainer-table-editButton {
  /*size - position*/

  /*style*/
  background-color: orange;
  border-radius: 0.5rem 0 0 0.5rem;

  /*grid*/
}

.tableContainer-table-editButton-text {
  /*size - position*/

  /*style*/
  color: var(--1-color);

  /*grid*/
}

.tableContainer-table-editButton-text:hover {
  /*size - position*/

  /*style*/
  color: var(--2-color);

  /*grid*/
}

.tableContainer-table-deleteButton {
  /*size - position*/

  /*style*/
  background-color: red;
  border-radius: 0 0.5rem 0.5rem 0;

  /*grid*/
}

.tableContainer-table-addButton-text {
  /*size - position*/

  /*style*/
  color: var(--1-color);

  /*grid*/
}

.tableContainer-table-addButton-text:hover {
  /*size - position*/

  /*style*/
  color: var(--2-color);

  /*grid*/
}

input,
select {
  /*size - position*/
  width: 100%;
  height: 100%;
  padding: 0.5rem;

  /*style*/
  background-color: var(--1-color);
  color: var(--2-color);
  border: none;
  border-radius: 0.5rem;

  /*grid*/
}

option {
  /*size - position*/

  /*style*/
  color: var(--2-color);

  /*grid*/
}
